h1{
    color: cornflowerblue;
    text-align: center;
}
.table-primary{
    margin:auto;
    width: 1000px;
}
form{
    margin: 10px;
    text-align: center;
}
.contactos{
    border-collapse: collapse;

}
.comandos{
    display: flex;

}
.navegacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
